@import '~bootstrap/scss/bootstrap';

body, html, #root {
    height:100%;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus, {
    outline: none;
    box-shadow: none;
}

.bg-lightgray {
    background-color: lightGray;
}
.bg-white {
    background-color: white;
}
.text-lightgray {
    color: lightGray;
}

.dark_hover:hover {
    background-color: lightGray !important;
}

.dark-overlay {
    background-color: rgba(0,0,0,0.8);
}

.card-img-left {
    border-top-left-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
    width:100%;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}